<div class="jumbotron">
  <h1 class="display-4">About Us.... </h1>
  <p class="lead">Nothing to see here..</p>
  <hr class="my-4">
  <p> Urubu do pix >:D </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Faça um pix!</a>
</div>

